django==5.1.6

channels==4.0.0
daphne==4.1.0
django-cors-headers==4.3.1

# pymysql
# mysqlclient

pytest
pytest-django
coverage
Pillow
channels==4.0.0
daphne==4.1.0
django-cors-headers==4.3.1
cryptography
psycopg2-binary
uvicorn[standard]==0.18.3

# TODO Start: [Student] Add dependency on uWSGI
uwsgi
# TODO End: [Student] Add dependency on uWSGI
